<div id="container">
<div id="side_menu">
  <%= cell :sidebar %>
</div>

<h1>Visitor List</h1>

<table id="visitor_table">
  <thead>
    <tr>
      <td>Sex</td>
      <td>Age</td>
      <td>Access From</td>
      <td>Accessed At</td>
    </tr>
  </thead>

  <tbody id="visitor">
  </tbody>
</table>
</div>
