<h1>Visitor Data List</h1>

<%= link_to "新規訪問者", new_visitor_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Sex</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.id %></td>
        <td>
          <% if visitor.sex == 0 %>
            Not Select
          <% elsif visitor.sex == 1 %>
            Man
          <% else %>
            Woman
          <% end %>
        </td>
        <td><%= visitor.age %></td>
      </tr>
    <% end %>
  </tbody>
</table>
