<h1>訪問情報</h1>

<p>
  <strong>訪問回数</strong>:<%= @model.referrers.count %>
</p>

<table id="detail_table">
  <thead>
    <tr>
      <td>訪問日時</td>
      <td>訪問元</td>
    </tr>
  </thead>

  <tbody>
    <% @model.referrers.each do |ref| %>
    <tr>
      <td>
        <%= ref.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %>
      </td>
      <td>
        <%= ref.access_from %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
