<div id="side_menu">
  <%= button_to "基本情報", {}, id: "detailButton", class: "btn btn-primary" %>
  <%= button_to "訪問情報", {}, id: "detailButton", class: "btn btn-primary" %>
  <%= button_to "行動情報", {}, id: "detailButton", class: "btn btn-primary" %>
</div>
