<h1>Visitor List</h1>

<form class="form-horizontal">
  <input id="text" class="form-control" type="text">
  <input id="button" class="btn btn-primary" type="button" value="send">
</form>

<div id="visitor">
</div>
