<h1>Visitor List</h1>

<form class="form-horizontal">
  <input id="text" class="form-control" type="text">
  <input id="button" class="btn btn-primary" type="button" value="send">
</form>

<table>
  <thead>
    <tr>
      <td>Sex</td>
      <td>Age</td>
      <td>Access From</td>
      <td>Accessed At</td>
    </tr>
  </thead>

  <tbody id="visitor">
  </tbody>
</table>
