#bind_table {
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
}

#bind_table th {
  border: 1px #DCDCDC solid;
  padding: 5px;
}

#bind_table td {
  border: 1px #DCDCDC solid;
  padding: 5px;
}
