<h1>行動情報</h1>

<table id="detail_table">
  <thead>
    <tr>
      <td>閲覧日時</td>
      <td>ページ</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>2015年10月13日 13:58:10</td>
      <td>/page1</td>
    </tr>

    <tr>
      <td>2015年10月13日 13:48:10</td>
      <td>/page2</td>
    </tr>

    <tr>
      <td>2015年10月13日 13:38:10</td>
      <td>/page3</td>
    </tr>

    <tr>
      <td>2015年10月13日 13:28:10</td>
      <td>/page4</td>
    </tr>

    <tr>
      <td>2015年10月13日 13:18:10</td>
      <td>/page5</td>
    </tr>
  </tbody>
</table>
